* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow-x: hidden;
}


/* Nav */

.navbar {
    z-index: 1000;
    background-color: black;
    border-bottom: 1px solid #000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Left Side of Nav Bar */


.navleft {
    position: fixed;
    margin-left: 2%;
    left: 0;
}

.navbartext {
    color: white;
}

.navbartext:hover {
    color: #d9444a;
    cursor: pointer;
}




/* Center of NavBar */

.navmiddle {
    display: flex;
    gap: 4rem;
}

.navbarbutton {
    color: white;
}

.navbarbutton:hover {
    color: #d9444a;
    cursor: pointer;
}






/* Right side of the nav bar */

.navright {
    position: fixed;
    margin-right: 3%;
    right: 0;
}


/* Nav Bar Button */

.Download-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 12px 20px;
    color: white;
    background: #d9444a;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(59, 48, 78, 0.527);
    letter-spacing: 0.05em;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
}

.Download-button svg {
    margin-right: 8px;
    width: 25px;
}

.Download-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em black;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.Download-button:active {
    box-shadow: 0 0.3em 1em -0.5em black;
}

.Download-button::before {
    content: "";
    width: 4px;
    height: 40%;
    background-color: white;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
    transition: all 0.2s;
}

.Download-button::after {
    content: "";
    width: 4px;
    height: 40%;
    background-color: white;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0;
    transition: all 0.2s;
}

.Download-button:hover::before,
.Download-button:hover::after {
    height: 60%;
}

.Download-button:hover::before {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transform: translate(5px, -15px) rotate(45deg);
}

.Download-button:hover::after {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transform: translate(-5px, 15px) rotate(45deg);
}




/* First Page */

.home {
    height: 100vh;
    background: linear-gradient(to right, #d9444a 50%, black 50%);
}

.homepagetext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}

.harul,
.arora {
    font-family: 'Bebas Neue', cursive;
    font-size: 20rem;
    color: rgb(197, 192, 192);
    text-shadow: 10px 6px 8px rgba(0, 0, 0, 0.3);
    line-height: 0.9;
    letter-spacing: 20px;
    /* transition: transform 0.6s ease-out; */
    transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.arora {
    margin-left: 2rem;
}


.imagecontainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-top: 6vh;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    overflow: hidden;
}

#boyimage {
    height: 110vh;
    width: auto;
    position: relative;
    z-index: 2;
    transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media (max-width: 768px) {

    .harul,
    .arora {
        font-size: 8rem;
        letter-spacing: 8px;
    }
}



/* About page */


.about-page {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.about-left-half {
    height: 100vh;
    width: 50vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-top: 12%;
}

#about-main-heading-1 {
    color: white;
    margin-bottom: 15px;
    padding-left: 20%;
    font-size: 3rem;
}

#about-main-heading-2 {
    color: white;
    margin-bottom: 15px;
    padding-left: 20%;
    font-size: 3rem;
}

#about-my-name {
    color: #d9444a;
}

/* Typing effect CSS */

.container {
    display: flex;
    margin-bottom: 15px;
    padding-left: 20%;
    height: 6vh;
}

#text {
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.cursor {
    display: inline-block;
    width: 10px;
    height: 50px;
    background-color: white;
    margin-left: 5px;
    margin-top: 11px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


/* Social Media */

.card {
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 20%;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 1s;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #128c7e;
    transition-duration: 0.3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



/* Button Below Social Media icons */

.button {
    --primary: #ff5569;
    /* Accent color */
    --neutral-1: #2e2e2e;
    /* Dark background */
    --neutral-2: #1a1a1a;
    /* Darker background */
    --radius: 14px;

    cursor: pointer;
    border-radius: var(--radius);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: none;
    box-shadow: 0 0.5px 0.5px 1px rgba(0, 0, 0, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.2), 0 4px 5px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
    width: 200px;
    margin-top: 4%;
    margin-left: 20%;
    padding: 20px;
    height: 68px;
    font-family: "Galano Grotesque", Poppins, Montserrat, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    /* Text color */
    background: var(--neutral-1);
    /* Button background */
}

.button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3),
        0 15px 30px rgba(0, 0, 0, 0.3), 0 10px 3px -3px rgba(0, 0, 0, 0.04);
}

.button:active {
    transform: scale(1);
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3),
        0 10px 3px -3px rgba(0, 0, 0, 0.2);
}

.button:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--radius);
    border: 2.5px solid transparent;
    background: linear-gradient(var(--neutral-1), var(--neutral-2)) padding-box,
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.45)) border-box;
    z-index: 0;
    transition: all 0.4s ease;
}

.button:hover::after {
    transform: scale(1.05, 1.1);
    box-shadow: inset 0 -1px 3px 0 rgba(50, 50, 50, 1);
    /* Adjusted shine colour to a darker tone */
}

.button::before {
    content: "";
    inset: 7px 6px 6px 6px;
    position: absolute;
    background: linear-gradient(to top, var(--neutral-1), var(--neutral-2));
    border-radius: 30px;
    filter: blur(0.5px);
    z-index: 2;
}

.state p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.state .icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: scale(1.25);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.state .icon svg {
    overflow: visible;
}

/* Outline */
.outline {
    position: absolute;
    border-radius: inherit;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease;
    inset: -2px -3.5px;
}

.outline::before {
    content: "";
    position: absolute;
    inset: -100%;
    background: conic-gradient(from 180deg,
            transparent 60%,
            rgb(22, 22, 22) 80%,
            transparent 100%);
    animation: spin 2s linear infinite;
    animation-play-state: paused;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.button:hover .outline {
    opacity: 1;
}

.button:hover .outline::before {
    animation-play-state: running;
}

/* Letters */
.state p span {
    display: block;
    opacity: 0;
    animation: slideDown 0.8s ease forwards calc(var(--i) * 0.03s);
}

.button:hover p span {
    opacity: 1;
    animation: wave 0.5s ease forwards calc(var(--i) * 0.02s);
}

.button:focus p span {
    opacity: 1;
    animation: disapear 0.6s ease forwards calc(var(--i) * 0.03s);
}

@keyframes wave {
    30% {
        opacity: 1;
        transform: translateY(4px) translateX(0) rotate(0);
    }

    50% {
        opacity: 1;
        transform: translateY(-3px) translateX(0) rotate(0);
        color: var(--primary);
    }

    100% {
        opacity: 1;
        transform: translateY(0) translateX(0) rotate(0);
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px) translateX(5px) rotate(-90deg);
        color: var(--primary);
        filter: blur(5px);
    }

    30% {
        opacity: 1;
        transform: translateY(4px) translateX(0) rotate(0);
        filter: blur(0);
    }

    50% {
        opacity: 1;
        transform: translateY(-3px) translateX(0) rotate(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0) translateX(0) rotate(0);
    }
}

@keyframes disapear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateX(5px) translateY(20px);
        color: var(--primary);
        filter: blur(5px);
    }
}

/* Plane */
.state--default .icon svg {
    animation: land 0.6s ease forwards;
}

.button:hover .state--default .icon {
    transform: rotate(45deg) scale(1.25);
}

.button:focus .state--default svg {
    animation: takeOff 0.8s linear forwards;
}

.button:focus .state--default .icon {
    transform: rotate(0) scale(1.25);
}

@keyframes takeOff {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 1;
        transform: translateX(70px) rotate(45deg) scale(2);
    }

    100% {
        opacity: 0;
        transform: translateX(160px) rotate(45deg) scale(0);
    }
}

@keyframes land {
    0% {
        transform: translateX(-60px) translateY(30px) rotate(-50deg) scale(2);
        opacity: 0;
        filter: blur(3px);
    }

    100% {
        transform: translateX(0) translateY(0) rotate(0);
        opacity: 1;
        filter: blur(0);
    }
}

/* Contrail */
.state--default .icon:before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 0;
    left: -5px;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5));
}

.button:focus .state--default .icon:before {
    animation: contrail 0.8s linear forwards;
}

@keyframes contrail {
    0% {
        width: 0;
        opacity: 1;
    }

    8% {
        width: 15px;
    }

    60% {
        opacity: 0.7;
        width: 80px;
    }

    100% {
        opacity: 0;
        width: 160px;
    }
}

/* States */
.state {
    padding-left: 29px;
    z-index: 2;
    display: flex;
    position: relative;
}

.state--default span:nth-child(4) {
    margin-right: 5px;
}

.state--sent {
    display: none;
}

.state--sent svg {
    transform: scale(1.25);
    margin-right: 8px;
}

.button:focus .state--default {
    position: absolute;
}

.button:focus .state--sent {
    display: flex;
}

.button:focus .state--sent span {
    opacity: 0;
    animation: slideDown 0.8s ease forwards calc(var(--i) * 0.2s);
}

.button:focus .state--sent .icon svg {
    opacity: 0;
    animation: appear 1.2s ease forwards 0.8s;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(4) rotate(-40deg);
        color: var(--primary);
        filter: blur(4px);
    }

    30% {
        opacity: 1;
        transform: scale(0.6);
        filter: blur(1px);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
        filter: blur(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}



.about-right-half {
    height: 100vh;
    width: 50vw;
    background-color: white;
    padding: 20px;
}

.about-text-container {
    height: 96vh;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 4rem;
}

.about-text-heading {
    padding-left: 5%;
    font-family: Google Sans Bold;
    font-size: 1.6rem;
    font-weight: 700;
}

.about-text-content {
    padding: 5%;
}


/* Skills Page */

.skills-page {
    width: 100vw;
    height: 92vh;
    /* background-color: red; */
    padding-top: 5%;
}



/* Project cards */
.skills-section {
    /* border: 1px silver solid; */
    text-align: left;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: #111;
}

p {
    color: #555;
    font-size: 16px;
}

/* Toggle Buttons */
.toggle-buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.toggle-buttons button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #ddd;
    background: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.toggle-buttons button.active {
    background: #111;
    color: white;
}

/* Skills & Tools Grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 15px;
    margin-top: 30px;
    justify-items: center;
}

/* Skill Cards */
.skill-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-5px);
}

.skill-card img {
    width: 50px;
    height: 50px;
}

/* Hidden Section */
.hidden {
    display: none;
}



/* Project Page */


.projects-page {
    width: 100vw;
    height: 180vh;
    background-color: black;
}

#projects {
    color: white;
    padding-top: 40px;
}

#my-project-heading {
    color: white;
    font-size: 3.5rem;
    margin-bottom: 4%;
    margin-left: 3.6%;

}

.half-underline {
    display: inline-block;
    position: relative;
}

.half-underline::after {
    content: '';
    position: absolute;
    left: 26%;
    bottom: -5px;
    width: 50%;
    height: 5px;
    background-color: #ffffff;
    transform: translateX(-50%);
}

.project-grid {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.project {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(67, 67, 67, 0.1);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(65, 64, 64, 0.2);
}

.project img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.project:hover img {
    transform: scale(1.05);
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #252424;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #555;
}


/* Footer Page CSS */



.unique-footer {
    z-index: 1;
    --footer-background: #d9444a;
    display: grid;
    position: relative;
    grid-area: unique-footer;
    min-height: 12rem;
    background: var(--footer-background);
}

.unique-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#unique-blob");
}

.unique-bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: unique-bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
        unique-bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

.unique-content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
}

.unique-content a,
.unique-content p {
    color: #F5F7FA;
    text-decoration: none;
}

.unique-content b {
    color: white;
}

.unique-content p {
    margin: 0;
    font-size: .75rem;
}

.unique-content>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.unique-content .unique-image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
}

@keyframes unique-bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes unique-bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}